/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

/**/

body * {

}
.clearfix {
  clear:both;
}
a, a:visited, a:active {
  color:rgb(207, 110, 65);
  text-decoration:none;
}
a:hover, a.current {
  border-bottom:3px solid rgb(207, 110, 65);
}
.name {
  font-family: 'Abril Fatface', cursive;
}
div.site {
  width:900px;
  margin:0 auto;
}
.site .welcome {
  display:float;
  margin:0 auto;
  margin-top:1.5em;
  width:900px;
}
.welcome img {
  border-radius:80px;
  float:right;
  width:160px;
  height:160px;
  margin-top:25px;
  margin-right:80px;
}
.welcome h1 {
  font-size:1.1em;
  font-weight:100;
  float:left;
  width:60%;
}
.welcome .hi {
  position:absolute;
  margin-left:80px;
  margin-top:45px;
}
.welcome .name {
  display:block;
  font-size:8em;
  text-align:center;
  padding-left:20px;
}
.nav {
  margin-top:14px;
}
.nav img {
  border-radius:20px;
  float:right;
  width:40px;
  height:40px;
}
.nav h1 {
  float:left;
}
.nav h1 a, .nav h1 a:hover {
  color:black;
  border:none;
}
.nav .name {
  font-size:2em;
  padding-left:20px;
}
.nav ul {
  float:right;
  list-style-type:none;
  margin-top:.5em;
  width:30%;
}
.nav li {
  float:left;
  font-size:1.5em;
  width:48%;
}
.main h2 {
  font-weight:100;
  padding-left:35px;
}
.main ul {
  margin-left:60px;
}
.main h2, .main li {
  font-size:2em;
  padding-top:20px;
  padding-bottom:20px;
}
.footer {
  text-align:center;
  font-size:.6em;
}
.footer h2 {
  font-weight:100;
}
