@media all and (max-width: 769px) {
  div.site {
    width:100%;
  }
  .welcome {
    padding-left:20px;
  }
  .welcome img {
    width:60px;
    height:60px;
    margin-top:15px;
    margin-right:30px;
  }
  .welcome .hi {
    margin-left:30px;
    margin-top:10px;
  }
  .welcome .name {
    font-size:4em;
    padding-left:0;
  }
  .main {
    padding-left:8px;
    padding-right:8px;
  }
  .main h2 {
    padding-left:0;
  }
  .main ul {
    margin-left:0;
  }
}
@media all and (max-width: 350px) {
  .welcome img {
    display:none;
  }
}
