<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
      <title>{{ title }}</title>
    </head>
    <body>
        <div class="container">
          {{ content }}
        </div>
        {% include javascript.html %}
        <footer>
          <a href="#" id="colophon">colophon</a>
          <ul>
            <li>the background color is <strong class="orange-red">OrangeRed</strong></li>
            <li>the link color is <strong class="rebecca-purple">RebeccaPurple</strong></li>
            <li>the cool font for my name is <strong class="abril-fatface">AbrilFatface</strong></li>
          </ul>
        </footer>
    </body>
</html>
