<!DOCTYPE html>
<html>
    <head>
      {% include head.html %}
      <title>{{ page.title }}</title>
    </head>
    <body class="bg-yellow">
      <nav class="flex max-width-3 mx-auto row-reverse print-hide">
        <ul class="clearfix list-style-none p0">
          <li class="col mr2"><a href="/">Home</a></li>
          <li class="col mr2"><a href="/posts">Posts</a></li>
          <li class="col"><a href="/projects">Projects</a></li>
        </ul>
      </nav>
      <div class="max-width-3 mx-auto">
        <main>
          {{ content }}
        </main>
      </div>
      <footer></footer>
      {% include javascript.html %}
    </body>
</html>
