.center-text {
  text-align:center;
}
div.inline {
  display:inline-block;
}
a, a:hover, a:visited {
  color:RebeccaPurple;
  text-decoration:none;
}
body {
  background-color:OrangeRed;
  position:relative;
  height:100%;
}
ol, ul {
  list-style-type:none;
}
.container {
  margin-top:4rem;
}
.intro {
  margin:0 auto;
  position:relative;
  width:300px;
}
.intro span {
}
.hi {
  position:absolute;
  top:10px;
  left:50px;
}
.name {
  font-family: 'Abril Fatface';
  font-size:3em;
  top:0;
}
.avatar {
  border-radius:75px;
  border:3px solid black;
  width:150px;
  height:150px;
}
.job {
  text-align:center;
  width:300px;
}
.col ul {
  text-align:center;
}
.col li {
  display:inline;
  font-size:1.5em;
  margin-left:1.1em;
}
.project {
  border:1px solid black;
}
footer {
  position:absolute;
  bottom:0;
  right:0;
  padding:1em;
}
footer #colophon + ul {
  display:none;
}
footer #colophon.hide {
  display:none;
}
footer #colophon.hide + ul {
  display:block;
}
footer ul {
  text-align:right;
}
footer li {
  display:inline;
}
footer li + li {
  border-left:1px solid black;
  padding-left:.3em;
}
footer strong {
  padding-left:.3em;
  padding-right:.3em;
}
footer .orange-red {
  background-color:black;
  color:OrangeRed;
}
footer .rebecca-purple {
  color:RebeccaPurple;
}
footer .abril-fatface {
  font-family: 'Abril Fatface';
}
