.avatar, nav .brand img {
  border:2px solid black;
}
.avatar {
  border-radius:75px;
}
.project {
  border:2px solid SlateGray;
}
footer li + li {
  border-left:1px solid black;

  @media all and (max-width: 769px) {
    border-left:none;
  }
}
