.bg-pink {
  background-color: $pink;
}

.bg-purple {
  background-color: $purple;
}

.bg-teal {
  background-color: $teal;
}

.bg-white {
  background-color: $white;
}

.bg-white-translucent {
  background-color: rgba(255, 255, 255, 0.5);
}

.pink {
  color: $pink;
}
