$backgroundColor:LightSlateGray;
$linkColor:LemonChiffon;

body {
  background-color:$backgroundColor;
}
a, a:hover, a:visited {
  color:$linkColor;
}
.project li {
  background-color:black;
  color:$backgroundColor;
}
footer {
  background-color:$backgroundColor;
}
footer .background-color {
  background-color:black;
  color:$backgroundColor;
}
footer .background-color:after {
  content:"" + $backgroundColor;
}
footer .link-color {
  color:$linkColor;
}
footer .link-color:after {
  content:"" + $linkColor;
}
