.bg-gold {
  background-color: $gold;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-white {
  background-color: $white;
}

.gray {
  color: $gray;
}

.blue {
  color: $blue;
}

.teal {
  color: $teal;
}
