html {
  font-size: $root;
}

.light {
  font-weight: 100;
}

.mono {
  font-family: monospace;
}

.sans {
  font-family: $sans;
}

.serif {
  font-family: $serif;
}

.strike {
  text-decoration: line-through;
}

.fs-10 {
  font-size: 10pt;
}

.fs-14 {
  font-size: 14pt;
}

@media print {
  .pr-fs-12 {
    font-size: 12pt !important;
  }
}
