html {
  font-size:62.5%;
}
body {
  font-size:1.5em;
  line-height:1.6;
}
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}
div, h1, h2, h3, h4, h5, h6, p {
  display:block;
}
.container {
  margin:0 auto;
  padding:0;
  max-width:960px;
  width:80%;
}
nav {
  clear:both;
  display:block;
  position:relative;
  min-height:50px;
  width:100%;

  @media all and (max-width: 769px) {
    min-height:100px;
  }
}
nav:after {
  content:"";
  clear:both;
}
nav .brand, nav ul {
  float:left;
  height:100%;
  position:absolute;
  display:flex;
  align-items:center;
  width:40%;
}
nav .brand {
  text-align:center;

  @media all and (max-width: 769px) {
    display:block;
    width:100%;

    img {
      margin:0 auto;
    }

    & h1 {
      width:100%;
    }
  }
}
nav .brand > *:first-child {
  margin-right:4%;
}
nav .brand img {
  border-radius:20px;
  width:40px;
  height:40px;
}
nav ul {
  right:0;

  @media all and (max-width: 769px) {
    display:none;
  }
}
nav li {
  display:inline;
  flex-grow:1;
  text-align:center;
}
.row {
  display:block;
  margin-bottom:2rem;
  position:relative;
  width:100%;
}
.row:before, .row:after {
  content:" ";
  display:table;
}
.row:after {
  clear:both;
}
.row .col:first-child {
  margin-left:0;
}
.col {
  float:left;
  margin-left:4%;
  min-height:1px;
}
.col > * {
  margin-left:4%;
  margin-right:4%;
}
.col {
  padding-top:2%;
  padding-bottom:2%;
}
.col.sticky-top {
  padding-top:0;
}
.row .col:first-child {
  margin-left:0;
}
.col-1 {
  width:4.6667%;
}
.col-2 {
  width:13.3333%;
}
.col-3 {
  width:22%;
}
.col-4 {
  width:30.6667%;
}
.col-5 {
  width:39.3333%;
}
.col-6 {
  width:48%;
}
.col-7 {
  width:56.6667%;
}
.col-8 {
  width:65.3333%;
}
.col-9 {
  width:74%;
}
.col-10 {
  width:82.6667%;
}
.col-11 {
  width:91.3333%;
}
.col-12 {
  margin-left:0;
  width:100%;
}
.col.center-horizontal {
  display: -webkit-flex;
  display:flex;
  justify-content:center;

  @media all and (max-width: 769px) {
    margin:0 auto;
  }
}

@media all and (max-width: 769px) {
  .row .col:first-child {
    margin-bottom:2rem;
  }
  .col {
    margin-left:0;
  }
  .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width:100%;
  }
}
