* {
  box-sizing:border-box;
}

.container {
  width:960px;
  margin:0 auto;
}

.columns {
  display:block;

  &::after {
    content:"";
    display:table;
  }
}  

.column {
  float:left;
  padding:2rem;
  width:100%;

  &.one-half {
    width:48%;
  }
  &.one-third {
    width:32%;
  }
  &.two-thirds {
    width:65%;
  }
}

