body {
  position:relative;
}
ol, ul {
  list-style-type:none;
}
.project ul, .skill-list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-content:space-around;
}
.project li {
  margin-top:.3em;
  margin-right:.3em;
  padding-left:1em;
  padding-right:1em;
  padding-top:.3em;
  padding-bottom:.3em;

}
.project ul, .project p {
  margin-bottom:1em;
}
footer {
  position:fixed;
  bottom:0;
  right:0;
  padding:1em;
  text-align:right;

  @media all and (max-width: 769px) {
    position:absolute;
    height:0px;
  }
}
footer ul {
  padding:0;
}
footer strong {
  padding-left:.3em;
  padding-right:.3em;
}

.post {
  position: relative;
}
.post > * {
  position: relative;
}
.post .background-date { 
  position: absolute;
}
