@media all and (max-width: 769px) {
  .mobile-hide {
    display:none;
  }
  h3 {
    display:none;
  }
  footer {
    position:absolute;
    bottom:-1.3em;
  }

}
@media all and (max-width: 350px) {

}
