@media #{$breakpoint-sm} {
  .sm-p2 {
    padding: $space-2;
  }
}

@media #{$breakpoint-md} {
  .md-pl1 {
    padding-left: $space-1;
  }
  
  .md-pl2 {
    padding-left: $space-2;
  }

  .md-pr1 {
    padding-right: $space-1;
  }


  .md-px2 {
    padding-left: $space-2;
    padding-right: $space-2;
  }

  .md-px4 {
    padding-left: $space-4;
    padding-right: $space-4;
  }
}

@media print {
  .pr-p0 {
    padding: 0;
  }
}
