// colors
$black: black;
$blue: #c8d0f7;
$gold: gold;
$gold-translucent: rgba(255, 215, 0, 0.6);
$gray: #545353;
$red: red;
$teal: #45a896;
$white: white;
$yellow: #f9f5e0;

// fonts
$root: 21pt;
$sans: monospace;
$serif: serif;

// breakpoints
$breakpoint-sm: "(min-width: 40em)" !default;
$breakpoint-md: "(min-width: 52em)" !default;
$breakpoint-lg: "(min-width: 64em)" !default;

//
$space-1: 0.5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;
