.axis {
  font-family: monospace;
}

.no-js-msg {
  display: none;
}

.chart-container.no-js .no-js-msg {
  display: block;
}

.no-js .chart,
.no-js .caption {
  display: none;
}

.stroke-yellow {
  stroke: $yellow;
}

.y-axis line {
  stroke: grey;
  stroke-dasharray: 5 3;
}

.y-axis text {
  fill: grey;
  font-size: 10pt;
}
