.axis {
  font-family: monospace;
}

.axis line {
  stroke: grey;
  stroke-dasharray: 5 3;
}

.axis text {
  fill: grey;
  font-size: 10pt;
}

.no-js-msg {
  display: none;
}

.chart-container.no-js .no-js-msg {
  display: block;
}

.no-js .chart,
.no-js .caption {
  display: none;
}

.stroke-yellow {
  stroke: $yellow;
}

.x-axis .tick:nth-child(odd) {
  visibility: hidden;
}

@media #{$breakpoint-sm} {
  .x-axis .tick:nth-child(odd) {
    visibility: visible;
  }
}
