<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div class="site">
          <div class="nav">
            <h1><span class="name"><a href="/">jeremia</a></span></h1>
            <ul>
              {% if page.type == "projects" %}
              <li><a class="current" href="#">Projects</a></li>
              <li><a href="/posts">Posts</a></li>
              {% else %}
              <li><a href="/projects">Projects</a></li>
              <li><a class="current" href="#">Posts</a></li>
              {% endif %}
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="main {{ page.type }}">
              {{ content }}

          </div>
          <div class="footer">

          </div>
        </div>
    </body>
</html>
